<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Wordy · A mini nodeJS blog</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">



    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Javascript     -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/wordy/image/upload/v1659208575/image1_mly59k.jpg"
        sizes="32x32">
    <link rel="icon" href="https://res.cloudinary.com/wordy/image/upload/v1659208575/image1_mly59k.jpg">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .form-control:focus {
            box-shadow: inset linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .profile-head {
            transform: translateY(4rem) !important
        }

        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
        }

        .likeicon {
            color: rgb(70, 73, 70) !important;
            background-color: transparent;
            text-decoration: none
        }

        .clickedlikeicon {
            color: rgb(230, 48, 48) !important;
            background-color: transparent;
            text-decoration: none;
        }

        .ck.ck-editor__main>.ck-editor__editable {
            height: 240px;
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
            border: 0;
            color: white;
        }

        .ck.ck-editor {
            margin-bottom: 10px !important;
        }

        .ck.ck-toolbar.ck-toolbar_grouping {
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
            border: 0;
            border-bottom: 1px white;
        }

        .ck.ck-button {
            color: white !important;
        }

        .ck.ck-reset_all {
            color: grey;
        }

        .ck.ck-toolbar {
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/headers/headers.css" rel="stylesheet">
</head>